h1, p {
    text-align: center;

}

p {
    padding: 0px 15px 0px 15px;
}
.h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
}

.namebox {
    display: inline;
}

.name {
    font-size: 40px;
    position: absolute;
}


.nav-list {
    display: inline-block;
    float: right;
}

h2 {
    position: absolute;
    top: 260px;
    padding-left: 57px;
    color: #074242;
    font-size: 39px;
}



body {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: teal;
    position: relative;
}

div#wrapper {
    position: relative;
    display: block;
    float: none;
    border: 2px dashed teal;
}

header {
    width: 100%;
    position: relative;
}

.banner{
    width: 100%;
    /* background-image: url(assets/images/banner.jpg); */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }
  
  .image-box:hover .overlay {
    opacity: 1;
  }


.image-box {
    width: 100%;
    position: relative;
}

.nav-bar ul li a {
    padding: 0px 10px 0px 10px;
    text-align: center;
    text-decoration: none;
    color: #094a47;
    font-size: 20px;
}

.nav-bar ul li a:hover {
    color: rgb(25, 69, 151);
}

.nav-bar {
    background: rgb(101 155 165);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    border: 3px solid green;
    margin: auto;
    padding: 15px 15px 77px 15px;
}

.nav-bar ul li {
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: inline;
    padding: 0px 10px;
}

.self-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.office {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.center {
    margin: auto;
    width: 50%;
}



