h1, p {
    text-align: center;

}

.h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: teal;
    position: relative;
}

div#wrapper {
    position: relative;
    display: block;
    float: none;
    border: 2px dashed red;
}

header {
    width: 100%;
    position: relative;
}

.banner{
    width: 100%;
}



.container {
    width: 100%;
    position: relative;
}

.nav-bar ul li a {
    padding: 0px 10px 0px 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.nav-bar ul li a:hover {
    color: red;
}

.nav-bar {
    background: rgb(101 155 165);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    margin: auto;
    width: 100%;
    padding: 15px 15px 15px 15px;
}

.nav-bar ul li {
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: inline;
    padding: 0px 10px;
}

.self-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.column {

}

.center {
    margin: auto;
    width: 50%;
}



