.nav-tag {
    
    padding: 0px 10px 0px 10px;
    
}

.nav-bar {
    margin: auto;
    width: 34%;
}

.self-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.column {

}

.center {
    margin: auto;
    width: 50%;
}

h1, p {
    text-align: center;
}